<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Auction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
    <ion-segment-button value="current">
      <ion-label>Current</ion-label>
    </ion-segment-button>
    <ion-segment-button value="upcoming">
      <ion-label>Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedSegment === 'current'">
    <ion-grid>
      <ion-row>

        <!-- item cards  -->
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>


      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedSegment === 'upcoming'">
    <ion-grid>
      <ion-row>

        <!-- item cards  -->
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>

      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedSegment === 'past'">
    <ion-grid>
      <ion-row>
        <!-- item cards  -->
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Art Title</ion-card-title>
            <ion-card-subtitle>Artist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content> 
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>